
/*my page*/

/*body style*/
body {
	font-family: Georgia, Helvetica, sans-serif;
	width: 888px;
	margin: auto;
	text-align: center;
}

/*links style*/
a {
	color: rgb(81, 110, 255);
	text-decoration: none;
}

a:hover {
	color: rgb(250, 38, 102);
}


/*some page display style*/
.fotoalbum, 
#homepage,
#submit,
footer {
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
}

.fotoalbum {
  justify-content: space-around;
}

#collection {
	width: 550px;
}

#description {
	margin-left: 30px;
	margin-top: 18px;
	width: 338px;
}

form {
	margin-left: 5px;
	text-align: left;
}

#submit {
	justify-content: space-between;
}

/*some text style*/
.mini-text {
	font-size: 10px;
	margin: 4px;
}

.message {
	color: red;
}


/*img and captions style*/
img {
	height: 100px;
	width: 100px;
}

figcaption {
	width: 100px;
	color: beige;
	background-color: darkviolet;
	margin-bottom: 10px;
	border-radius: 15px;
	padding: 3px;
	text-align: center;
}


/* footer style*/
footer p {
	margin-top: 0px;
}

footer {
	position: fixed;
	bottom: 0px;
  	width: 888px;
  	margin-bottom: -10px;
  	color: lightgray;
  	background-color: white;
    justify-content: space-between;
}

/*Thank you for checking*/