<!DOCTYPE html>
<html>
<head>
    <title>Tempastlate databasagna!
    </title>
    <link rel="stylesheet" href="../css/stage5/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <script src="../js/js.js"></script>
    <link rel="shortcut icon" href="http://www.iconj.com/ico/y/c/yc9japkm1a.ico" type="image/x-icon" />
<meta charset="UTF-8">
</head>
<body>
    <nav>
        <a href="/" title="home">home </a> - 
        <a href="/stage5" title="first page"> stage 5 </a> - 
        <a href="/stage5/about_javascript" title="batch of terms"> about javascript </a> - 
        <a href="/stage5/terms1" title="still from stage 4"> terms1 </a> - 
        <a href="/stage5/terms2" title="still from stage 4"> terms2 </a> - - - 
        <a href="/stage5/inputs" title="add your own"> input </a> - 
        <a href="/stage5/game_to_be" title="collection of inputs"> game to be </a> 
    </nav>
    <h1> TEMPASTALATES  {% block title%}   {% endblock title %} </h1> 
    {% block content %}
    {% endblock %}
    <br>
    <footer>
        <p> Kalindi </p><p> May-Jun-July 2015 </p><p> Stage 4-5</p>
    </footer>
</body>
</html>